/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#066087+0,066087+7,0988c2+7,006d9e+95,184c71+100 */
.bt_2_buttons { /* Row 2 - gradient behind the rematch and TD buttons */
    background: rgb(6,96,135); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(6,96,135,1) 0%, rgba(6,96,135,1) 7%, rgba(9,136,194,1) 7%, rgba(0,109,158,1) 95%, rgba(24,76,113,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(6,96,135,1) 0%,rgba(6,96,135,1) 7%,rgba(9,136,194,1) 7%,rgba(0,109,158,1) 95%,rgba(24,76,113,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(6,96,135,1) 0%,rgba(6,96,135,1) 7%,rgba(9,136,194,1) 7%,rgba(0,109,158,1) 95%,rgba(24,76,113,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066087', endColorstr='#184c71',GradientType=0 ); /* IE6-9 */
}

.bt_2_Mechanical {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#777777+0,777777+7,a8a8a8+7,515151+95,363636+100 */
background: rgb(119,119,119); /* Old browsers */
background: -moz-linear-gradient(top, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 7%, rgba(168,168,168,1) 7%, rgba(81,81,81,1) 95%, rgba(54,54,54,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(119,119,119,1) 0%,rgba(119,119,119,1) 7%,rgba(168,168,168,1) 7%,rgba(81,81,81,1) 95%,rgba(54,54,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(119,119,119,1) 0%,rgba(119,119,119,1) 7%,rgba(168,168,168,1) 7%,rgba(81,81,81,1) 95%,rgba(54,54,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#363636',GradientType=0 ); /* IE6-9 */
}
.bt_2_Mechanical_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#535353+0,535353+7,757575+7,393939+95,262626+100 */
background: rgb(83,83,83); /* Old browsers */
background: -moz-linear-gradient(top, rgba(83,83,83,1) 0%, rgba(83,83,83,1) 7%, rgba(117,117,117,1) 7%, rgba(57,57,57,1) 95%, rgba(38,38,38,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(83,83,83,1) 0%,rgba(83,83,83,1) 7%,rgba(117,117,117,1) 7%,rgba(57,57,57,1) 95%,rgba(38,38,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(83,83,83,1) 0%,rgba(83,83,83,1) 7%,rgba(117,117,117,1) 7%,rgba(57,57,57,1) 95%,rgba(38,38,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535353', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

.bt_2_Aquatic {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f9aa1+0,3f9aa1+7,59dbe5+7,0193a3+95,036168+100 */
background: rgb(63,154,161); /* Old browsers */
background: -moz-linear-gradient(top, rgba(63,154,161,1) 0%, rgba(63,154,161,1) 7%, rgba(89,219,229,1) 7%, rgba(1,147,163,1) 95%, rgba(3,97,104,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(63,154,161,1) 0%,rgba(63,154,161,1) 7%,rgba(89,219,229,1) 7%,rgba(1,147,163,1) 95%,rgba(3,97,104,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(63,154,161,1) 0%,rgba(63,154,161,1) 7%,rgba(89,219,229,1) 7%,rgba(1,147,163,1) 95%,rgba(3,97,104,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9aa1', endColorstr='#036168',GradientType=0 ); /* IE6-9 */
}
.bt_2_Aquatic_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c6b70+0,2c6b70+7,3e99a0+7,016772+95,024449+100 */
background: rgb(44,107,112); /* Old browsers */
background: -moz-linear-gradient(top, rgba(44,107,112,1) 0%, rgba(44,107,112,1) 7%, rgba(62,153,160,1) 7%, rgba(1,103,114,1) 95%, rgba(2,68,73,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(44,107,112,1) 0%,rgba(44,107,112,1) 7%,rgba(62,153,160,1) 7%,rgba(1,103,114,1) 95%,rgba(2,68,73,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(44,107,112,1) 0%,rgba(44,107,112,1) 7%,rgba(62,153,160,1) 7%,rgba(1,103,114,1) 95%,rgba(2,68,73,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c6b70', endColorstr='#024449',GradientType=0 ); /* IE6-9 */
}

.bt_2_Beast {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9a332f+0,9a332f+7,db4842+7,9a3534+95,6c1313+100 */
background: rgb(154,51,47); /* Old browsers */
background: -moz-linear-gradient(top, rgba(154,51,47,1) 0%, rgba(154,51,47,1) 7%, rgba(219,72,66,1) 7%, rgba(154,53,52,1) 95%, rgba(108,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(154,51,47,1) 0%,rgba(154,51,47,1) 7%,rgba(219,72,66,1) 7%,rgba(154,53,52,1) 95%,rgba(108,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(154,51,47,1) 0%,rgba(154,51,47,1) 7%,rgba(219,72,66,1) 7%,rgba(154,53,52,1) 95%,rgba(108,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a332f', endColorstr='#6c1313',GradientType=0 ); /* IE6-9 */
}
.bt_2_Beast_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b2421+0,6b2421+7,99322e+7,6b2524+95,461716+100 */
background: rgb(107,36,33); /* Old browsers */
background: -moz-linear-gradient(top, rgba(107,36,33,1) 0%, rgba(107,36,33,1) 7%, rgba(153,50,46,1) 7%, rgba(107,37,36,1) 95%, rgba(70,23,22,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(107,36,33,1) 0%,rgba(107,36,33,1) 7%,rgba(153,50,46,1) 7%,rgba(107,37,36,1) 95%,rgba(70,23,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(107,36,33,1) 0%,rgba(107,36,33,1) 7%,rgba(153,50,46,1) 7%,rgba(107,37,36,1) 95%,rgba(70,23,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b2421', endColorstr='#461716',GradientType=0 ); /* IE6-9 */
}

.bt_2_Elemental {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9e5f00+0,9e5f00+7,e48a00+7,824a00+95,603700+100 */
background: rgb(158,95,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(158,95,0,1) 0%, rgba(158,95,0,1) 7%, rgba(228,138,0,1) 7%, rgba(130,74,0,1) 95%, rgba(96,55,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(158,95,0,1) 0%,rgba(158,95,0,1) 7%,rgba(228,138,0,1) 7%,rgba(130,74,0,1) 95%,rgba(96,55,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(158,95,0,1) 0%,rgba(158,95,0,1) 7%,rgba(228,138,0,1) 7%,rgba(130,74,0,1) 95%,rgba(96,55,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e5f00', endColorstr='#603700',GradientType=0 ); /* IE6-9 */
}
.bt_2_Elemental_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d4100+0,6d4100+7,ac6800+7,673b00+95,492401+100 */
background: rgb(109,65,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(109,65,0,1) 0%, rgba(109,65,0,1) 7%, rgba(172,104,0,1) 7%, rgba(103,59,0,1) 95%, rgba(73,36,1,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(109,65,0,1) 0%,rgba(109,65,0,1) 7%,rgba(172,104,0,1) 7%,rgba(103,59,0,1) 95%,rgba(73,36,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(109,65,0,1) 0%,rgba(109,65,0,1) 7%,rgba(172,104,0,1) 7%,rgba(103,59,0,1) 95%,rgba(73,36,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d4100', endColorstr='#492401',GradientType=0 ); /* IE6-9 */
}

.bt_2_Magic {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#643e90+0,643e90+7,9158d2+7,603799+95,3c1b67+100 */
background: rgb(100,62,144); /* Old browsers */
background: -moz-linear-gradient(top, rgba(100,62,144,1) 0%, rgba(100,62,144,1) 7%, rgba(145,88,210,1) 7%, rgba(96,55,153,1) 95%, rgba(60,27,103,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(100,62,144,1) 0%,rgba(100,62,144,1) 7%,rgba(145,88,210,1) 7%,rgba(96,55,153,1) 95%,rgba(60,27,103,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(100,62,144,1) 0%,rgba(100,62,144,1) 7%,rgba(145,88,210,1) 7%,rgba(96,55,153,1) 95%,rgba(60,27,103,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643e90', endColorstr='#3c1b67',GradientType=0 ); /* IE6-9 */
}
.bt_2_Magic_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c316b+0,4c316b+7,6c459a+7,4a267b+95,2d1948+100 */
background: rgb(76,49,107); /* Old browsers */
background: -moz-linear-gradient(top, rgba(76,49,107,1) 0%, rgba(76,49,107,1) 7%, rgba(108,69,154,1) 7%, rgba(74,38,123,1) 95%, rgba(45,25,72,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(76,49,107,1) 0%,rgba(76,49,107,1) 7%,rgba(108,69,154,1) 7%,rgba(74,38,123,1) 95%,rgba(45,25,72,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(76,49,107,1) 0%,rgba(76,49,107,1) 7%,rgba(108,69,154,1) 7%,rgba(74,38,123,1) 95%,rgba(45,25,72,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c316b', endColorstr='#2d1948',GradientType=0 ); /* IE6-9 */
}

.bt_2_Critter {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6e5a4c+0,6e5a4c+7,9c806c+7,734f41+95,513a31+100 */
background: rgb(110,90,76); /* Old browsers */
background: -moz-linear-gradient(top, rgba(110,90,76,1) 0%, rgba(110,90,76,1) 7%, rgba(156,128,108,1) 7%, rgba(115,79,65,1) 95%, rgba(81,58,49,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(110,90,76,1) 0%,rgba(110,90,76,1) 7%,rgba(156,128,108,1) 7%,rgba(115,79,65,1) 95%,rgba(81,58,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(110,90,76,1) 0%,rgba(110,90,76,1) 7%,rgba(156,128,108,1) 7%,rgba(115,79,65,1) 95%,rgba(81,58,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e5a4c', endColorstr='#513a31',GradientType=0 ); /* IE6-9 */
}
.bt_2_Critter_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4d3f35+0,4d3f35+7,6d594b+7,50372d+95,392822+100 */
background: rgb(77,63,53); /* Old browsers */
background: -moz-linear-gradient(top, rgba(77,63,53,1) 0%, rgba(77,63,53,1) 7%, rgba(109,89,75,1) 7%, rgba(80,55,45,1) 95%, rgba(57,40,34,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(77,63,53,1) 0%,rgba(77,63,53,1) 7%,rgba(109,89,75,1) 7%,rgba(80,55,45,1) 95%,rgba(57,40,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(77,63,53,1) 0%,rgba(77,63,53,1) 7%,rgba(109,89,75,1) 7%,rgba(80,55,45,1) 95%,rgba(57,40,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d3f35', endColorstr='#392822',GradientType=0 ); /* IE6-9 */
}

.bt_2_Undead {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#716466+0,716466+7,9f8a8f+7,6f5d61+95,4c3e3f+100 */
background: rgb(113,100,102); /* Old browsers */
background: -moz-linear-gradient(top, rgba(113,100,102,1) 0%, rgba(113,100,102,1) 7%, rgba(159,138,143,1) 7%, rgba(111,93,97,1) 95%, rgba(76,62,63,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(113,100,102,1) 0%,rgba(113,100,102,1) 7%,rgba(159,138,143,1) 7%,rgba(111,93,97,1) 95%,rgba(76,62,63,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(113,100,102,1) 0%,rgba(113,100,102,1) 7%,rgba(159,138,143,1) 7%,rgba(111,93,97,1) 95%,rgba(76,62,63,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#716466', endColorstr='#4c3e3f',GradientType=0 ); /* IE6-9 */
}
.bt_2_Undead_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a4244+0,4a4244+7,6c5f62+7,493d3f+95,372d2e+100 */
background: rgb(74,66,68); /* Old browsers */
background: -moz-linear-gradient(top, rgba(74,66,68,1) 0%, rgba(74,66,68,1) 7%, rgba(108,95,98,1) 7%, rgba(73,61,63,1) 95%, rgba(55,45,46,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(74,66,68,1) 0%,rgba(74,66,68,1) 7%,rgba(108,95,98,1) 7%,rgba(73,61,63,1) 95%,rgba(55,45,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(74,66,68,1) 0%,rgba(74,66,68,1) 7%,rgba(108,95,98,1) 7%,rgba(73,61,63,1) 95%,rgba(55,45,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4244', endColorstr='#372d2e',GradientType=0 ); /* IE6-9 */
}

.bt_2_Flying {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a39c4b+0,a39c4b+7,e8dd68+7,b4a60e+95,706302+100 */
background: rgb(163,156,75); /* Old browsers */
background: -moz-linear-gradient(top, rgba(163,156,75,1) 0%, rgba(163,156,75,1) 7%, rgba(232,221,104,1) 7%, rgba(180,166,14,1) 95%, rgba(112,99,2,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(163,156,75,1) 0%,rgba(163,156,75,1) 7%,rgba(232,221,104,1) 7%,rgba(180,166,14,1) 95%,rgba(112,99,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(163,156,75,1) 0%,rgba(163,156,75,1) 7%,rgba(232,221,104,1) 7%,rgba(180,166,14,1) 95%,rgba(112,99,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a39c4b', endColorstr='#706302',GradientType=0 ); /* IE6-9 */
}
.bt_2_Flying_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#726d34+0,726d34+7,a29a49+7,7e740a+95,4e4501+100 */
background: rgb(114,109,52); /* Old browsers */
background: -moz-linear-gradient(top, rgba(114,109,52,1) 0%, rgba(114,109,52,1) 7%, rgba(162,154,73,1) 7%, rgba(126,116,10,1) 95%, rgba(78,69,1,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(114,109,52,1) 0%,rgba(114,109,52,1) 7%,rgba(162,154,73,1) 7%,rgba(126,116,10,1) 95%,rgba(78,69,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(114,109,52,1) 0%,rgba(114,109,52,1) 7%,rgba(162,154,73,1) 7%,rgba(126,116,10,1) 95%,rgba(78,69,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#726d34', endColorstr='#4e4501',GradientType=0 ); /* IE6-9 */
}

.bt_2_Dragonkin {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#429049+0,429049+7,5cce67+7,039c04+95,015603+100 */
background: rgb(66,144,73); /* Old browsers */
background: -moz-linear-gradient(top, rgba(66,144,73,1) 0%, rgba(66,144,73,1) 7%, rgba(92,206,103,1) 7%, rgba(3,156,4,1) 95%, rgba(1,86,3,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(66,144,73,1) 0%,rgba(66,144,73,1) 7%,rgba(92,206,103,1) 7%,rgba(3,156,4,1) 95%,rgba(1,86,3,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(66,144,73,1) 0%,rgba(66,144,73,1) 7%,rgba(92,206,103,1) 7%,rgba(3,156,4,1) 95%,rgba(1,86,3,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#429049', endColorstr='#015603',GradientType=0 ); /* IE6-9 */
}
.bt_2_Dragonkin_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e6534+0,2e6534+7,409048+7,026d03+95,014802+100 */
background: rgb(46,101,52); /* Old browsers */
background: -moz-linear-gradient(top, rgba(46,101,52,1) 0%, rgba(46,101,52,1) 7%, rgba(64,144,72,1) 7%, rgba(2,109,3,1) 95%, rgba(1,72,2,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(46,101,52,1) 0%,rgba(46,101,52,1) 7%,rgba(64,144,72,1) 7%,rgba(2,109,3,1) 95%,rgba(1,72,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(46,101,52,1) 0%,rgba(46,101,52,1) 7%,rgba(64,144,72,1) 7%,rgba(2,109,3,1) 95%,rgba(1,72,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e6534', endColorstr='#014802',GradientType=0 ); /* IE6-9 */
}

.bt_2_Humanoid {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5790ae+0,5790ae+7,7acbf7+7,2673ac+95,16568a+100 */
background: rgb(87,144,174); /* Old browsers */
background: -moz-linear-gradient(top, rgba(87,144,174,1) 0%, rgba(87,144,174,1) 7%, rgba(122,203,247,1) 7%, rgba(38,115,172,1) 95%, rgba(22,86,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(87,144,174,1) 0%,rgba(87,144,174,1) 7%,rgba(122,203,247,1) 7%,rgba(38,115,172,1) 95%,rgba(22,86,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(87,144,174,1) 0%,rgba(87,144,174,1) 7%,rgba(122,203,247,1) 7%,rgba(38,115,172,1) 95%,rgba(22,86,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5790ae', endColorstr='#16568a',GradientType=0 ); /* IE6-9 */
}
.bt_2_Humanoid_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d6579+0,3d6579+7,558eac+7,1b5078+95,113e64+100 */
background: rgb(61,101,121); /* Old browsers */
background: -moz-linear-gradient(top, rgba(61,101,121,1) 0%, rgba(61,101,121,1) 7%, rgba(85,142,172,1) 7%, rgba(27,80,120,1) 95%, rgba(17,62,100,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(61,101,121,1) 0%,rgba(61,101,121,1) 7%,rgba(85,142,172,1) 7%,rgba(27,80,120,1) 95%,rgba(17,62,100,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(61,101,121,1) 0%,rgba(61,101,121,1) 7%,rgba(85,142,172,1) 7%,rgba(27,80,120,1) 95%,rgba(17,62,100,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d6579', endColorstr='#113e64',GradientType=0 ); /* IE6-9 */
}

.bt_2_Level {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#833682+0,833682+7,ba4cb9+7,7c238a+95,4c1458+100 */
background: #833682; /* Old browsers */
background: -moz-linear-gradient(top, #833682 0%, #833682 7%, #ba4cb9 7%, #7c238a 95%, #4c1458 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #833682 0%,#833682 7%,#ba4cb9 7%,#7c238a 95%,#4c1458 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #833682 0%,#833682 7%,#ba4cb9 7%,#7c238a 95%,#4c1458 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#833682', endColorstr='#4c1458',GradientType=0 ); /* IE6-9 */
}
.bt_2_Level_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b265b+1,5b265b+7,813581+7,571760+95,3f0f48+100 */
background: #5b265b; /* Old browsers */
background: -moz-linear-gradient(top, #5b265b 1%, #5b265b 7%, #813581 7%, #571760 95%, #3f0f48 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #5b265b 1%,#5b265b 7%,#813581 7%,#571760 95%,#3f0f48 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #5b265b 1%,#5b265b 7%,#813581 7%,#571760 95%,#3f0f48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b265b', endColorstr='#3f0f48',GradientType=0 ); /* IE6-9 */
}

.bt_2_any {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#898989+0,898989+7,b2b2b2+7,c9c9c9+35,c9c9c9+49,969696+95,595959+100 */
background: #898989; /* Old browsers */
background: -moz-linear-gradient(top, #898989 0%, #898989 7%, #b2b2b2 7%, #c9c9c9 35%, #c9c9c9 49%, #969696 95%, #595959 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #898989 0%,#898989 7%,#b2b2b2 7%,#c9c9c9 35%,#c9c9c9 49%,#969696 95%,#595959 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #898989 0%,#898989 7%,#b2b2b2 7%,#c9c9c9 35%,#c9c9c9 49%,#969696 95%,#595959 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#595959',GradientType=0 ); /* IE6-9 */
}
.bt_2_any_d {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,666666+7,7f7f7f+7,9e9e9e+35,9e9e9e+49,848484+95,3f3f3f+100 */
background: #666666; /* Old browsers */
background: -moz-linear-gradient(top, #666666 0%, #666666 7%, #7f7f7f 7%, #9e9e9e 35%, #9e9e9e 49%, #848484 95%, #3f3f3f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #666666 0%,#666666 7%,#7f7f7f 7%,#9e9e9e 35%,#9e9e9e 49%,#848484 95%,#3f3f3f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #666666 0%,#666666 7%,#7f7f7f 7%,#9e9e9e 35%,#9e9e9e 49%,#848484 95%,#3f3f3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
}


.bt_substitutes {
    float: left;
    width: 90;
    height: 23;
    background-color: #154769;
}

.bt_subpanel {
    float: left;
    width: 237;
    height: 23;
    text-align: center;
}
.bt_subpanel_d {
    float: left;
    width: 24;
    height: 23;
}

.bt_subpanel_Beast {
    background-color: #5e1b1a;
}
.bt_subpanel_Beast_d {
    background-color: #451817;
}
.bt_subpanel_Mechanical {
    background-color: #343434;
}
.bt_subpanel_Mechanical_d {
    background-color: #252525;
}
.bt_subpanel_Aquatic {
    background-color: #02585f;
}
.bt_subpanel_Aquatic_d {
    background-color: #01393e;
}
.bt_subpanel_Elemental {
    background-color: #573200;
}
.bt_subpanel_Elemental_d {
    background-color: #462300;
}
.bt_subpanel_Magic {
    background-color: #36195e;
}
.bt_subpanel_Magic_d {
    background-color: #291642;
}
.bt_subpanel_Critter {
    background-color: #48332b;
}
.bt_subpanel_Critter_d {
    background-color: #32231e;
}
.bt_subpanel_Undead {
    background-color: #443739;
}
.bt_subpanel_Undead_d {
    background-color: #342a2c;
}
.bt_subpanel_Flying {
    background-color: #685c02;
}
.bt_subpanel_Flying_d {
    background-color: #473f01;
}
.bt_subpanel_Dragonkin {
    background-color: #004202;
}
.bt_subpanel_Dragonkin_d {
    background-color: #003901;
}
.bt_subpanel_Humanoid {
    background-color: #145082;
}
.bt_subpanel_Humanoid_d {
    background-color: #0f395d;
}
.bt_subpanel_Level {
    background-color: #3f1049;
}
.bt_subpanel_Level_d {
    background-color: #350c3d;
}
.bt_subpanel_Any {
    background-color: #4b4b4b;
}
.bt_subpanel_Any_d {
    background-color: #363636;
}


.bt_4_1 { /* first line of row 4 - brighter part */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#09405b+0,12496f+100 */
background: #09405b; /* Old browsers */
background: -moz-linear-gradient(top,  #09405b 0%, #12496f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #09405b 0%,#12496f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #09405b 0%,#12496f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09405b', endColorstr='#12496f',GradientType=0 ); /* IE6-9 */
float: left;
width: 801px;
height: 7px;
}

.bt_4_3 { /* third line of row 4 - brighter part */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#12496f+0,0a2b4f+49,2d68a2+100 */
background: #12496f; /* Old browsers */
background: -moz-linear-gradient(top,  #12496f 0%, #0a2b4f 49%, #2d68a2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #12496f 0%,#0a2b4f 49%,#2d68a2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #12496f 0%,#0a2b4f 49%,#2d68a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12496f', endColorstr='#2d68a2',GradientType=0 ); /* IE6-9 */
float: left;
width: 801px;
height: 8px;
}

div.sl_disclaimer_bg {
    max-width: 600px;
    background: rgba(20, 20, 20, .8);
    height: 25px;
    border-radius: 10px;
    padding: 4 0 0 10;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-family: MuseoSans-500,'Century Gothic';
    font-size: 16px;
    text-decoration: none;
    float: left;
}

a.sl_disclaimer {
    color: #ffffff;
    font-family: MuseoSans-300,'Century Gothic';
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease-in 0s;
}
a.sl_disclaimer:hover {
    color: #64adff;
    text-decoration: underline;
}

div.sl_ampel {
    height: 20px;
    width: 165px;
    float: right;
}
div.sl_ampel:hover .sl_disclaimer_red_i {
    opacity: 0.1;
}
div.sl_ampel:hover .sl_disclaimer_yellow_i {
    opacity: 0.05;
}
div.sl_ampel:hover .sl_disclaimer_green_i {
    opacity: 0.05;
}
div.sl_ampel:hover .sl_disclaimer_red_a {
    background-color: #ff4545;
}
div.sl_ampel:hover .sl_disclaimer_yellow_a {
    background-color: #f4ff3e;
}
div.sl_ampel:hover .sl_disclaimer_green_a {
    background-color: #5aff5a;
}


div.sl_disclaimer {
    width: 50px;
    border: solid 0px #000000;
    float: right;
    height: 20px;
    transition: all 0.3s ease-in 0s;
}

div.sl_disclaimer_red_a {
    border-radius: 8px 0px 0px 8px;
    background-color: #ff0000;
}
div.sl_disclaimer_red_i {
    border-radius: 8px 0px 0px 8px;
    opacity: 0.2;
    background-color: #fb4700;
}

div.sl_disclaimer_yellow_a {
    background-color: #ffea00;
    margin-left: 5px;
}
div.sl_disclaimer_yellow_i {
    background-color: #ffea00;
    opacity: 0.1;
    margin-left: 5px;
}

div.sl_disclaimer_green_a {
    border-radius: 0px 8px 8px 0px;
    background-color: #00f000;
    margin-left: 5px;
    margin-right: 5px;
}
div.sl_disclaimer_green_i {
    border-radius: 0px 8px 8px 0px;
    opacity: 0.1;
    background-color: #12fb00;
    margin-left: 5px;
    margin-right: 5px;
}


/* Speech Bubble */

p.speech {
  margin-top: 5px;
  display: block;
  position: relative;
  text-align: left;
  padding: 5px;
  font-weight: normal;
  font-size: 14px;
  background-color: #0f344c;
  border: 2px solid #2d6388;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

p.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -22px;
  top: 5px;
  border: solid;
  border-width: 5 20 10 0;
  border-color: transparent #2d6388 transparent transparent;
}

p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -17px;
  top: 7px;
  border: solid;
  border-width: 4 17 8 0;
  border-color: transparent #0f344c transparent transparent;
}

table.bt_5 {
    margin: 0;
    width: 801;
    border: 0;
    border-collapse:collapse;
}

div.bt_steps {
    width: 801;
}



td.bt_5_1 {
    width: 88;
    text-align: center;
    font-weight: bold;
    color: #e7e7e7;
    font-family: MuseoSans-500,'Century Gothic';
    font-size: 16px;
    text-decoration: none;
}

td.bt_5_2 {
    width: 701;
    color: #e7e7e7;
    font-family: MuseoSans-500,'Century Gothic';
    font-size: 16px;
    text-decoration: none;

}

td.bt_5_2_o {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 14px;
    height: 24px;
    background-image: url(https://www.wow-petguide.com/images/battletableodd.png);
    background-position: left top;
    background-repeat: repeat-y;
}

td.bt_5_2_e {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 14px;
    height: 24px;
    background-image: url(https://www.wow-petguide.com/images/battletableeven.png);
    background-position: left top;
    background-repeat: repeat-y;
}


div.bt_petimage {
    position: relative;
    top: 15px;
    left: 6px;
    float: left;
}


div.bt_petname {
    display: flex;
    align-items: center;
    width: 145;
    height: 48;
    float: left;
    position: relative;
    top: 16px;
    left: 10px;
}

div.bt_petdetails {
    width: 200;
    height: 73;
    float: left;
    position: relative;
    margin-left: 6px;
    margin-top: 16px;
}

div.colpetdisplay {
    width: 190px;
    padding: 3 3 3 5;
    border-radius: 5px;
}

div.colpetdisplay_red {
    background: #962d14;
  -webkit-transition: all 1.0s ease;
     -moz-transition: all 1.0s ease;
       -o-transition: all 1.0s ease;
      -ms-transition: all 1.0s ease;
          transition: all 1.0s ease;
}
div.colpetdisplay_red:hover {
    border-radius: 1px;
    background: #7d2713;
}

div.colpetdisplay_orange {
    background: #ad9a2f;
  -webkit-transition: all 1.0s ease;
     -moz-transition: all 1.0s ease;
       -o-transition: all 1.0s ease;
      -ms-transition: all 1.0s ease;
          transition: all 1.0s ease;
}
div.colpetdisplay_orange:hover {
    border-radius: 1px;
    background: #8f7e21;
}

div.colpetdisplay_green {
    background: #356d19;
  -webkit-transition: all 1.0s ease;
     -moz-transition: all 1.0s ease;
       -o-transition: all 1.0s ease;
      -ms-transition: all 1.0s ease;
          transition: all 1.0s ease;
}
div.colpetdisplay_green:hover {
    border-radius: 1px;
    background: #2b5b13;
}

div.tag {
    float: right;
    margin: 0 0 6 8;
    font-family: MuseoSans-500,Roboto;
    font-size: 14px;
    border-radius: 8px;
    padding: 2 6 2 6;
    cursor: pointer;
    color: #ffffff;
    font-weight: normal;
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    -ms-transition: all 1.0s ease;
    transition: all 1.0s ease;
}
div.tag:hover {
    opacity: 0.8; /* css standard */
    filter: alpha(opacity=80); /* internet explorer */
    border-radius: 3px;
}

div.tag_xp {
    background: #629218;
}
div.tag_tcg {
    background: #696969;
}
div.tag_breed {
    background: #835730;
}
div.tag_unobtainable {
    background: #7a5f0b;
}
div.tag_level {
    background: #81268e;
}
div.tag_shop {
    background: #7a5f0b;
}
div.tag_fast {
    background: #b3ad0c;
}
div.tag_rng {
    background: #9e3d3d;
}
div.tag_reliable {
    background: #1d9a96;
}
div.tag_td {
    background: #252525;
}
div.tag_tricky {
    background: #9e3d3d;
}
div.tag_long {
    background: #9e3d3d;
}


div.bt_infopanel {
    background-color: #063d5c;
    float: left;
    font-family: MuseoSans-500,'Century Gothic';
    text-align: left;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.bt_infopanel_b1 {
    width: 236px;
    padding: 8px;
    margin: 4 0 12 12;
}
div.bt_infopanel_b2 {
    width: 234px;
    padding: 8px;
    margin: 4 0 12 12;
}
div.bt_infopanel_b3 {
    width: 234px;
    padding: 8px;
    margin: 4 0 12 12;
}


div.bt_fb_outer {
    width: 801px;
    float: left;
    margin-bottom: 10px; 
}
div.bt_fb_container {
    background-color: #063d5c;
    font-family: MuseoSans-500,'Century Gothic';
    text-align: left;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    margin: 0 auto;
    padding: 8px;
    width: 761px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.bt_fb_form {
    margin: 6 auto;
    width: 761px;
}
div.bt_fb_panel {
    font-family: MuseoSans-500,'Century Gothic';
    text-align: left;
    color: #fff;
    background-color: #375e86;
    font-weight: normal;
    font-size: 14px;
    height: 25px;
    display: block;
    float: left;
    line-height: 25px;
    -webkit-box-shadow: 0 6px 4px -4px #2a2a2a;
    -moz-box-shadow: 0 6px 4px -4px #2a2a2a;
    box-shadow: 0 6px 4px -4px #2a2a2a;
}
div.bt_fb_front {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
div.bt_fb_end {
    padding-right: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
div.bt_fb_send {
    width: 435px;
    text-align: right;
    height: 25px;
    display: block;
    float: left;
    line-height: 25px;
}
.bt_fb_slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    -ms-transition: all 1.0s ease;
    transition: all 1.0s ease;
}
.bt_fb_slider:hover {
    opacity: 1;
}
.bt_fb_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: #3ad140;
    cursor: pointer;
    border: 1px solid white;
}
.bt_fb_slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #3ad140;
    cursor: pointer;
    border: 1px solid white;
}
.bt_fb_slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.bt_fb_slider::-moz-range-track {
  height: 4px;
  cursor: pointer;
  background: #3cd4e6;
  border-radius: 2px;
}




.button-label {
  display: inline-block;
  padding: 0 7 0 7;
  cursor: pointer;
  color: #ffffff;
  border-radius: 0.25em;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button-label h1 {
    font-family: MuseoSans-500,'Century Gothic';
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}
.button-label:hover {
  font-weight: normal;
  background: #6b96bc;
  color: #101010;
}
.button-label:active {s
    font-weight: normal;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.yes-button:checked + .button-label {
  background: #2ECC71;
}
.yes-button:checked + .button-label:hover {
  background: #29b765;
}

.no-button:checked + .button-label {
  background: #D91E18;
}
.no-button:checked + .button-label:hover {
  background: #c21b15;
}

.send-button:checked + .button-label {
  background: #2aa0ad;
}
.send-button:checked + .button-label:hover {
  background: #22b8c9;
}

.hidden {
  display: none;
}






img.bt_fb_peticon {
    float: left;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


img.bt_petimage {
    border: 1px solid #807d7c;
    border-radius: 10%;
  -webkit-transition: all 1.0s ease;
     -moz-transition: all 1.0s ease;
       -o-transition: all 1.0s ease;
      -ms-transition: all 1.0s ease;
          transition: all 1.0s ease;
}
img.bt_petimage:hover {
    border-radius: 30%;
}

a.bt_petdetails {
    color: #fff;
    font-family: MuseoSans-500,Roboto;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    text-shadow:
      1px 1px 0px #1b1b1b,
      1px 1px 0px rgba(0, 0, 0, 0.2);
}

span.bt_subarrowleft {
    display: inline-block;
    width: 8px;
    height: 11px;
    margin: 0 5 0 0;
    text-decoration: none;
    cursor: pointer;
    background: url("../images/icon_bt_subarrleft.png");
}
span.bt_subarrowleft:hover {
    background-position: -8px 0;
}

span.bt_subarrowright {
    display: inline-block;
    width: 8px;
    height: 11px;
    margin: 0 0 0 5;
    text-decoration: none;
    cursor: pointer;
    background: url("../images/icon_bt_subarrright.png");
}
span.bt_subarrowright:hover {
    background-position: -8px 0;
}

p.bt_petdetails {
    color: #fff;
    font-family: MuseoSans-500,Roboto;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    text-shadow:
      1px 1px 0px #1b1b1b,
      1px 1px 0px rgba(0, 0, 0, 0.2);
}

p.tooltippets {
    font-family: MuseoSans-300,Roboto;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
}

p.bt_petdetails_small {
    color: #fff;
    font-family: MuseoSans-500,Roboto;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-shadow:
      1px 1px 0px #1b1b1b,
      1px 1px 0px rgba(0, 0, 0, 0.2);
}

a.bt_infobox
{
    font-family: MuseoSans-300,Roboto;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    -webkit-transition-property: color; /* Safari */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-property: color;
    transition-duration: 0.4s;
}
a.bt_infobox:hover {
    color: #b5d1ff;
}

tr.bt_infobox>td {
    padding-top: 5px;
}

div.edit_box {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1fb33e+0,1a9739+100 */
background: #1fb33e; /* Old browsers */
background: -moz-linear-gradient(top, #1fb33e 0%, #1a9739 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1fb33e 0%,#1a9739 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1fb33e 0%,#1a9739 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fb33e', endColorstr='#1a9739',GradientType=0 ); /* IE6-9 */
position: absolute;
}
div.edit_box_s {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#12752b+0,0e6323+100 */
background: #12752b; /* Old browsers */
background: -moz-linear-gradient(top, #12752b 0%, #0e6323 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #12752b 0%,#0e6323 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #12752b 0%,#0e6323 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12752b', endColorstr='#0e6323',GradientType=0 ); /* IE6-9 */
position: absolute;
}

div.edit_add_box {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b31f94+0,8d176f+100 */
background: #b31f94; /* Old browsers */
background: -moz-linear-gradient(top, #b31f94 0%, #8d176f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b31f94 0%,#8d176f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b31f94 0%,#8d176f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31f94', endColorstr='#8d176f',GradientType=0 ); /* IE6-9 */
position: absolute;
}
div.edit_add_box_s {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#781562+0,5d104a+100 */
background: #781562; /* Old browsers */
background: -moz-linear-gradient(top, #781562 0%, #5d104a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #781562 0%,#5d104a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #781562 0%,#5d104a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#781562', endColorstr='#5d104a',GradientType=0 ); /* IE6-9 */
position: absolute;
}

div.edit_delete_box {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b42222+1,941a1a+100 */
background: #b42222; /* Old browsers */
background: -moz-linear-gradient(top, #b42222 1%, #941a1a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b42222 1%,#941a1a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b42222 1%,#941a1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b42222', endColorstr='#941a1a',GradientType=0 ); /* IE6-9 */
position: absolute;
}
div.edit_delete_box_s {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a1616+0,601111+100 */
background: #7a1616; /* Old browsers */
background: -moz-linear-gradient(top, #7a1616 0%, #601111 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #7a1616 0%,#601111 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #7a1616 0%,#601111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a1616', endColorstr='#601111',GradientType=0 ); /* IE6-9 */
position: absolute;
}

div.edit_td_linkbox {
  position: absolute;
  top: 200px;
  left: -33px;
  height: 40px;
  width: 33px;
  z-index: 3;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
div.edit_td_box {
  top: 200px;
  left: -33px;
  height: 40px;
  width: 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}
div.edit_td_boxtext {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform:rotate(270deg);
  transform: rotate(270deg);
  transform-origin: left bottom 0;
  white-space:nowrap;
  font-family: MuseoSans-500,Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  position: absolute;
  top: 214;
  left: -10px;
  z-index: 2;
}
div.edit_td_box_s {
  top: 200px;
  left: -8px;
  height: 40px;
  width: 8px;
  z-index: 1;
}

div.edit_pets_linkbox {
  position: absolute;
  top: 120px;
  left: -33px;
  height: 55px;
  width: 33px;
  z-index: 3;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
div.edit_pets_box {
  top: 120px;
  left: -33px;
  height: 55px;
  width: 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}
div.edit_pets_boxtext {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform:rotate(270deg);
  transform: rotate(270deg);
  transform-origin: left bottom 0;
  white-space:nowrap;
  font-family: MuseoSans-500,Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  position: absolute;
  top: 145;
  left: -10px;
  z-index: 2;
}
div.edit_pets_box_s {
  top: 120px;
  left: -8px;
  height: 55px;
  width: 8px;
  z-index: 1;
}


div.edit_tags_linkbox {
  position: absolute;
  left: 801px;
  height: 50px;
  width: 33px;
  z-index: 999;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
div.edit_tags_box {
  left: 809px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}
div.edit_tags_box_s {
  left: 801px;
  height: 50px;
  width: 8px;
  z-index: 5;
}
div.edit_tags_boxtext {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform:rotate(90deg);
  transform: rotate(90deg);
  transform-origin: left bottom 0;
  white-space:nowrap;
  font-family: MuseoSans-500,Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  position: absolute;
  left: 812px;
  z-index: 9;
}

div.edit_add_linkbox {
  position: absolute;
  left: 801px;
  height: 35px;
  width: 33px;
  z-index: 999;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
div.edit_add_box {
  left: 809px;
  height: 35px;
  width: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}
div.edit_add_box_s {
  left: 801px;
  height: 35px;
  width: 8px;
  z-index: 5;
}
div.edit_add_boxtext {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform:rotate(90deg);
  transform: rotate(90deg);
  transform-origin: left bottom 0;
  white-space:nowrap;
  font-family: MuseoSans-500,Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  position: absolute;
  left: 812px;
  z-index: 9;
}


div.edit_info_linkbox {
  position: absolute;
  left: -33px;
  height: 45px;
  width: 33px;
  z-index: 3;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
div.edit_info_box {
  left: -33px;
  height: 45px;
  width: 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
}
div.edit_info_boxtext {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform:rotate(270deg);
  transform: rotate(270deg);
  transform-origin: left bottom 0;
  white-space:nowrap;
  font-family: MuseoSans-500,Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  position: absolute;
  left: -10px;
  z-index: 2;
}
div.edit_info_box_s {
  left: -8px;
  height: 45px;
  width: 8px;
  z-index: 1;
}

div.edit_top_box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1fb33e+0,1a9739+86,0e6323+86 */
    background: #1fb33e; /* Old browsers */
    background: -moz-linear-gradient(top, #1fb33e 0%, #1a9739 86%, #0e6323 86%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1fb33e 0%,#1a9739 86%,#0e6323 86%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1fb33e 0%,#1a9739 86%,#0e6323 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fb33e', endColorstr='#0e6323',GradientType=0 ); /* IE6-9 */
    font-family: MuseoSans-500,Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    position: absolute;
    z-index: 9;
    height: 25px;
    left: 90px;
    top: -30px;
    padding: 5 8 0 8;
    width: 605px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 5;
}

div.edit_top_box_deleted {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1fb33e+0,1a9739+86,0e6323+86 */
    background: #1fb33e; /* Old browsers */
    background: -moz-linear-gradient(top, #b31f1f 0%, #971a1a 86%, #630e0e 86%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b31f1f 0%,#971a1a 86%,#630e0e 86%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b31f1f 0%,#971a1a 86%,#630e0e 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31f1f', endColorstr='#630e0e',GradientType=0 ); /* IE6-9 */
    font-family: MuseoSans-500,Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    position: absolute;
    z-index: 9;
    height: 25px;
    left: 90px;
    top: -30px;
    padding: 5 8 0 8;
    width: 605px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 5;
}

.publishswitch {
    position: relative;
    width: 38px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.publishswitch-checkbox {
    display: none;
}
.publishswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 25px;
}
.publishswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.publishswitch-inner:before, .publishswitch-inner:after {
    display: block; float: left; width: 50%; height: 14px; padding: 0; line-height: 18px;
    box-sizing: border-box;
}
.publishswitch-inner:before {
    content: "";
    padding-left: 12px;
    background-color: #157215; color: #FFFFFF;
}
.publishswitch-inner:after {
    content: "";
    padding-right: 12px;
    background-color: #c71717; color: #FFFFFF;
    text-align: right;
}
.publishswitch-switch {
    display: block; width: 12px; margin: 1px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 20px;
    border: 2px solid #999999; border-radius: 25px;
    transition: all 0.3s ease-in 0s;
}
.publishswitch-checkbox:checked + .publishswitch-label .publishswitch-inner {
    margin-left: 0;
}
.publishswitch-checkbox:checked + .publishswitch-label .publishswitch-switch {
    right: 0px;
}


.alt_edit_slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    -ms-transition: all 1.0s ease;
    transition: all 1.0s ease;
}
.alt_edit_slider:hover {
    opacity: 1;
}
.alt_edit_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: #3ad140;
    cursor: pointer;
    border: 1px solid white;
}
.alt_edit_slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #3ad140;
    cursor: pointer;
    border: 1px solid white;
}
.alt_edit_slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.alt_edit_slider::-moz-range-track {
  height: 4px;
  cursor: pointer;
  background: #616161;
  border-radius: 2px;
}

button.redlarge
{
    background: #26a1da;
    background: -moz-linear-gradient(top, #dc1111 3%, #d30c0c 4%, #b20000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#dc1111), color-stop(4%,#d30c0c), color-stop(100%,#b20000));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc1111', endColorstr='#b20000',GradientType=0 );
    border: 1px solid #da2626;
    border: none;
    padding: 12px 8px 12px 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    color: #ffffff;
    margin-top: 5px;
    cursor: pointer !important;
    font-family: MuseoSans-300,Roboto;
    font-size: 14px;
}
button.bnetlogin:hover,
button.bnetlogin:focus,
button.bnetlogin:active
{
background: #0c7aad !important;
    cursor: pointer !important;
}

div.bt_steps > div:nth-of-type(odd) {
    background: #4792d2;
}
div.bt_steps > div:nth-of-type(even) {
    background: #2b7bbc;
}

div.bt_step_cont {
    color: #e7e7e7;
    font-size: 16px;
    font-family: MuseoSans-500;
}

div.bt_step_turn {
    width: 82px;
    height: 16px;
    display: table-cell;
    padding: 3 3 3 5;
    text-align: center;
}

div.bt_step_sepa {
    width: 10px;
    min-height: 1px;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    display: table-cell;
}

div.bt_step_inst {
    min-height: 1px;
    display: table-cell;
    background: rgba(0, 0, 0, .1);
    padding: 3 3 3 5;
}

div.bt_step_admin {
    width: 86px;
    display: table-cell;
    background: rgba(0, 0, 0, 0.1);
}

img.bt_step_editicon {
    vertical-align: middle;
    opacity: 0.8;
    cursor: pointer;
}
img.bt_step_editicon:hover {
    opacity: 1;
}

div.stredit_qf_container {
    background-color: #818181;
    border: 3px solid #c9c9c9;
}

div.stredit_qf_petbox {
    font-family: MuseoSans-500;
    font-size: 14px;
    color: #000000;
    background-color: #bababa;
    margin: 3 3 3 0;
    width: 180px;
    float: left;
    padding: 3px;
}

div.stredit_qf_textbox {
    background-color: #bababa;
    margin: 0 0 3 3;
    width: 275px;
    padding: 3px;
    float: left;
}

div.stredit_qf_textitem {
    font-family: MuseoSans-500;
    font-size: 14px;
    color: #000000;
    width: 275px;
    float: left;
    cursor: pointer;
    margin-top: 2px;
  -webkit-transition: all 1.0s ease;
     -moz-transition: all 1.0s ease;
       -o-transition: all 1.0s ease;
      -ms-transition: all 1.0s ease;
          transition: all 1.0s ease;
}
div.stredit_qf_textitem:hover {
    background-color: #ccc;
}

div.internal_comment {
    width: 100%;
    background-color: #fef6dc;
    padding: 5px;
    margin-bottom: 3px;
    font-family: MuseoSans-300;
    font-size: 14px;
}
td.internal_comment {
    padding: 2px;
    margin: 2px;
    font-family: MuseoSans-300;
    font-size: 14px;
    background-color: #f0e6c5;
}

img.stredit_qf_spell {
    padding: 3 3 0 3;
    float: left;
    width: 36px;
    height: 36px;
}

div.stredit_edit_inputbox {
    background-color: #bababa;
    margin: 3 3 3 3;
    width: 782px;
    float: left;
    padding: 3px;
}

div.stredit_edit_bb {
    background-color: #bababa;
    width: 616px;
    float: left;
    padding: 3 3 3 3;
    border-left: 3px solid #c9c9c9;
    border-top: 3px solid #c9c9c9;
    border-right: 3px solid #c9c9c9;
}


input.stredit_editline {
    display: inline;
    font-family: MuseoSans-500,Roboto;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    height: 25px;
    background: #C9C9C9;
    border: 1px solid #AAA;
    transition: all 0.5s ease-in;
    vertical-align: top;
    padding-left: 2px;
}
input:focus.stredit_editturn,
input[type=text].stredit_editturn:focus,
input[type=email].stredit_editturn:focus
{
    border-bottom: 1px dashed #232323;
    background: #dadada;
}

img.bb_pet
{
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    cursor: pointer !important;
    transition: all 0.2s ease-in 0s;
    opacity: 0.6;
    float: left;
    margin-left: 1px;
}
img.bb_pet:hover,
img.bb_pet:focus,
img.bb_pet:active
{
    opacity: 1;
}

img.bb_pet_wildcard
{
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    float: left;
    opacity: 0.6;
    margin-left: 1px;
}

img.bb_edit_save
{
    cursor: pointer;
    transition: all 0.2s ease-in 0s;
    opacity: 0.7;
    padding-left: 8px;
}
img.bb_edit_save:hover,
img.bb_edit_save:focus,
img.bb_edit_save:active
{
    opacity: 1;
}
