a.ffundead {
	display: block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url("../images/ffundead.png");
	}

a.ffundead:hover {
	background-position: -35px 0;
	}

a.ffmechanical {
	display: block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url("../images/ffmechanical.png");
	}

a.ffmechanical:hover {
	background-position: -35px 0;
	}

a.ffmagic {
	display: block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url("../images/ffmagic.png");
	}

a.ffmagic:hover {
	background-position: -35px 0;
	}

a.ffhumanoid {
	display: block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url("../images/ffhumanoid.png");
	}

a.ffhumanoid:hover {
	background-position: -35px 0;
	}

a.ffflying {
	display: block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url("../images/ffflying.png");
	}

a.ffflying:hover {
	background-position: -35px 0;
	}

a.ffelemental {
	display: block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url("../images/ffelemental.png");
	}

a.ffelemental:hover {
	background-position: -35px 0;
	}

a.ffaquatic {
	display: block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url("../images/ffaquatic.png");
	}

a.ffaquatic:hover {
	background-position: -35px 0;
	}

a.ffcritter {
	display: block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url("../images/ffcritter.png");
	}

a.ffcritter:hover {
	background-position: -35px 0;
	}

a.ffbeast {
	display: block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url("../images/ffbeast.png");
	}

a.ffbeast:hover {
	background-position: -35px 0;
	}

a.ffdragonkin {
	display: block;
	width: 35px;
	height: 35px;
	text-decoration: none;
	background: url("../images/ffdragonkin.png");
	}

a.ffdragonkin:hover {
	background-position: -35px 0;
	}











































